.Education {
    text-align: initial;
    font-size: 25px;
    border: 1px solid black;
    margin: 20px;
    padding: 0 5%;
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }